@charset "UTF-8";
header {
  background-color: #A9D9D0;
}
body {
  font-family: quicksand, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, strong, figcaption {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#banner {
  background-color: #F2F2F2;
}
#pots {
  background-color: #6DA696;
}
#instagram {
  background-color: #F2F2F2;
}
#workshop {
  background-color: #6DA696;
}
footer {
  background-color: #F2F2F2;
}
/*header*/
header .container {
  padding: 40px 0;
  position: relative;
}
@media (max-width: 767px) {
  header #logo {
    display: block;
    margin: 0 auto;
  }
  header ul#social {
    text-align: center;
  }
  header #address {
    text-align: center;
    line-height: 2;
  }
}
@media (min-width: 768px) {
  ul#social {
    position: absolute;
    top: 50px;
    right: 0px;
  }
  #address {
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    right: 0px;
  }
}
/*banner*/
#banner h1 {
  color: #202612;
  padding-top: 30px;
}
figure {
  position: relative;
}
figcaption {
  position: absolute;
  bottom: 20px;
  left: 0;
}
figcaption span {
  color: white;
  font-size: 24px;
  line-height: 45px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
figcaption span.spacer {
  padding: 0 2px;
  background: none;
}
#banner .container {
  padding-bottom: 40px;
}
/*pots*/
#pots h2 {
  color: #F2F2F2;
  padding-top: 30px;
}
#pots {
  position: relative;
  padding-bottom: 80px;
}
#tagline {
  position: absolute;
  bottom: -25px;
  right: 0px;
  font-size: 100px;
  line-height: 1;
  text-align: right;
  color: #F7F6B6;
}
/*instagram*/
#instagram h2 {
  color: #202612;
  padding-top: 30px;
}
#instagram img {
  border: 10px double #FFF;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #instagram1 {
    position: relative;
  }
  #instagram2 {
    position: relative;
  }
  #instagram3 {
    position: relative;
    left: 40px;
  }
  #instagram4 {
    position: relative;
    top: 80px;
  }
  #instagram5 {
    position: relative;
  }
  #instagram6 {
    position: relative;
  }
  #instagram7 {
    position: relative;
  }
}
@media (min-width: 992px) {
  #instagram1 {
    position: relative;
  }
  #instagram2 {
    position: relative;
  }
  #instagram3 {
    position: relative;
  }
  #instagram4 {
    position: relative;
  }
  #instagram5 {
    position: relative;
  }
  #instagram6 {
    position: relative;
  }
  #instagram7 {
    position: relative;
  }
}
/*workshop*/
#workshop h2 {
  color: #F2F2F2;
  padding-top: 30px;
}
#workshop .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
#workshop a {
  color: #202612;
}
#workshop a:hover {
  color: #F7F6B6;
}
/*footer*/
#asterisk {
  position: absolute;
  top: -95px;
  left: 0px;
  font-size: 200px;
  line-height: 1;
  color: #F2F2F2;
  z-index: 1;
}
footer .container {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
  color: #202612;
}
footer .about-us {
  padding-top: 100px;
}
footer a {
  color: #202612;
}

footer a:hover {
  color: #6DA696;
}



